.footer-container{
    padding: 20px;
    margin-top: 25px;
}
.footer-container h5{
    font-size: 1.2em;
    font-weight: 600;
    line-height: 0.2;
}
.question{
    font-weight: 600;
}
.footer-container p{
    color: rgb(71, 69, 69);
    text-align: justify;
    margin-bottom: 10px;
    
}